{% csrf_token %}
 
<div class="w-50">
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>

<button type="submit" class="btn btn-primary mt-3">{{ button_text }}</button>


<!-- <div class="w-50">
    {% for error in non_field_errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}

    <div class="mb-3">
        <label class="form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
        {% for error in form.title.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
        {% for error in form.description.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
</div> -->

<!-- {{ form.as_p }} -->

<!-- <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Title">
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
</div> -->