<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
      <a class="navbar-brand text-center"href="{% url 'home_page' %}">
        <img src="/static/images/logo.svg" alt="logotype" height="50">
      </a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
        <a class="nav-link active" aria-current="page" href="{% url 'task_list' %}">Task list</a>
        <a class="nav-link active" aria-current="page" href="{% url 'task_create' %}">Create Task</a>
      </div>
      <div class="d-flex">
        {% if not request.user.is_authenticated %}
        <a class="btn btn-outline-success btn-sm me-3" aria-current="page" href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
        <a class="btn btn-outline-secondary btn-sm" aria-current="page" href="{% url 'register' %}?next={{ request.get_full_path }}">Register</a>
        {% else %}
          <div class="d-flex algn-items-center me-3">Hello, {{ user.username }}! </div>
          <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout</a>
        {% endif %}
      </div>   
    </div>
  </div>
</nav>