{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="alert alert-primary w-25" role="alert">{{ task.status }}</div>
        <h5 class="card-title">{{ task.title }}</h5>
        <p style="font-size: 10px; color: grey;">{{ task.created_at }}</p>
        <p class="card-text">{{ task.description }}</p>
        {% if perms.todo_list.change_task %}
            <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Edit</a>
        {% endif %}
        {% if perms.todo_list.delete_task %}
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
</div>

{% endblock %}
