{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="list-group mt-3">
    {% for task in tasks %}
        <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action">
            <p class="list-group-item list-group-item-action">{{ task.title }}</p>
                {% if perms.todo_list.change_task %}
                <div>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-outline-primary btn-sm">
                        Редактировать
                    </a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-danger btn-sm">
                        Удалить
                    </a>
                </div>
                {% endif %}
        </a>
    {% endfor %}
  </div>
  <div class="mt-3">
    {% include 'partials/pagination.html' %}
  </div>
{% endblock %}