{% extends 'base.html' %}

{% block content %}
    <h1>Edit Task</h1>
    <form action="{% url 'task_update' task.pk %}" method="POST">
        {% include 'partials/create_update_form.html' with button_text="Edit" %}
    </form>
{% endblock %}

    <!-- <div class="mb-3">
        {% csrf_token %}
            <label for="title" class="form-label">New name</label>
            <input type="text" name="title" value="{{ task.title }}" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="body" rows="3">{{ task.description }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>
    </form> -->